<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'app/favicon.ico' %}">

    <title>MedMS by Kenya Care</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'app/assets/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'app/cover.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">MedMS <font size="1" face="Georgia, Arial" color="green"> by Kenya Care</font></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <form class="navbar-form navbar-right" action="{% url 'login_submit' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" placeholder="Email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                      <input type="password" placeholder="Password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                  </form>
                </div><!--/.navbar-collapse -->
              </div>
            </nav>

          <div class="inner cover">
            <h1 class="cover-heading"><b>Welcome to MedMS</b></h1>
            <p class="lead"><font size="4" >We are here to help. Send us a Text Message and get connected to the closest Doctor. </font></p>
            <p class="lead">If you are a doctor and willing to help.</p>
            <p class="lead">
              <p><a class="btn btn-lg btn-success" href="{% url 'signup' %}" role="button">Sign up today</a></p>
            </p>
          </div>
          <p class="lead"><font size="2" >We are a service provider connectiong patients to the doctors available in their neighbourhood. We receive text messages and we will find the closest doctors and connect them. </font></p>
            
          <div class="mastfoot">
            <div class="inner">
              <p>To a healthier Nairobi</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'app/assets/js/vendor/jquery.min.js' %"><\/script>')</script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'app/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
